# object, archive or module files
*.[oa]
*.mod
# summa executable and bin directory
bin
summa.exe
# temporary files
*~
*.swp
# any 'junk' files or directories
*junk*/
*junk*
# sublime text workspace files
*.sublime-workspace
# cscope and ctags files
*cscope*
.tags*
# OS X .DS_Store files
.DS_Store