cftime==1.6.2+computecanada
click==8.1.3+computecanada
click-plugins==1.1.1+computecanada
cligj==0.7.2+computecanada
Fiona==1.8.21+computecanada
geopandas==0.11.1+computecanada
h5netcdf==0.7.4+computecanada
h5py==3.7.0+computecanada
munch==2.5.0+computecanada
netCDF4==1.5.8+computecanada
pyproj==3.3.0+computecanada
Shapely==1.8.2+computecanada
xarray==2022.6.0+computecanada